{% extends "online_queue/base.html"%}
<!-- crispy package tags -->
{% load crispy_forms_tags %}
<!-- Content for base.html -->
{% block content %}

<div>
  <form method="POST">
    <!-- Backend messages -->
    {% include 'online_queue/includes/messages.html' %}

    <h1 class="mt-4">Insert your plate number</h1>
    {% csrf_token %}
    <!-- form fields -->
    {{ plate_register_form.plate|as_crispy_field }}
    <!-- form fields -->

    {{ plate_register_form.service|as_crispy_field }}
    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
  </form>
</div>
{% endblock %}
