{% extends "online_queue/base.html"%}
<!-- Content -->

{% load static %}

<!-- queue additional styles -->
{% block css %}
<link
  type="text/css"
  href="{% static 'online_queue/css/queue_style.css' %}"
  rel="stylesheet"
/>
{% endblock %}

<!-- queue socket connection script -->
{% block scripts %}
<!-- Scripts -->
<script src="{% static 'online_queue/js/socket_script.js' %}" defer></script>
{% endblock %}

<!-- Page content -->
{% block content %}
<!-- Translations -->
{% load i18n %}

<div class="container mt-5 d-flex">
  {% for service in services %}
  <div class="container mv-600" id="queue-{{service}}">
    <ul class="list-group overflow-auto border border-info h-80">
      <div
        class="p-2 bg-primary pd-2 text-center font-monospace fs-6 service-title"
      >
        {{ service }}
      </div>
      <li class="list-group-item d-flex w-100 justify-content-between">
        <span>An item</span> <small>~3 days ago</small>
      </li>
    </ul>
  </div>
  {% endfor %}
</div>
{% endblock %}
