{% extends "online_queue/base.html"%} {% block content %}
<!-- Translations -->
{% load i18n %}

<div class="container mt-5 d-flex">
  <div class="container">
    <ul class="list-group border border-info">
      <div class="p-2 bg-primary pd-2">Service</div>
      <li class="list-group-item d-flex w-100 justify-content-between">
        An item <small>~3 days ago</small>
      </li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
    </ul>
  </div>
  <div class="container">
    <ul class="list-group border border-info">
      <div class="p-2 bg-primary pd-2">Service</div>
      <li class="list-group-item d-flex w-100 justify-content-between">
        An item <small>~3 days ago</small>
      </li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
    </ul>
  </div>
</div>
{% endblock %}
