asgiref==3.7.2
async-timeout==4.0.3
beautifulsoup4==4.12.2
crispy-bootstrap5==2023.10
Django==4.2.7
django-bootstrap-v5==1.0.11
django-crispy-forms==2.1
django-dotenv==1.4.2
django-extensions==3.2.3
django-redis==5.4.0
psycopg2-binary==2.9.6
pypng==0.20220715.0
qrcode==7.4.2
redis==5.0.1
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.8.0
