SECRET_KEY='p5cyeh+kmruc#yi-kuc-^ceeq(h@l4s2^_37v+zo8)cix*s'
DEBUG=True

# AppSettings
DJANGO_ADMIN_USERNAME=user
DJANGO_ADMIN_PASSWORD=password
DJANGO_ADMIN_EMAIL=any@mail.send

#Database Postgres
DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=admin
DATABASE_HOST=localhost
DATABASE_PORT=5432

# Redis
REDIS_PASSWORD=mysecret