.h-80 {
	height: 80vh;
}

.mv-600{
	max-width: 600px;
}

.service-title {
	position: sticky;
	top: 0;
	z-index: 100
}

li.list-group-item:first-child {
	background-color: #e5f3e5;
}

li.list-group-item:nth-child(2) {
	background-color: #e5f3e54a;
}

li.list-group-item > span,
li.list-group-item > small {
	width: 30%;
}
li.list-group-item > i {
	width: 10%;
}

.list-group .list-group-item .btn {
	padding: 1px 6px;
}

@media (max-width: 800px) {
	.container-column {
		flex-direction: column !important;
	}
	.list-group .list-group-item .middle-block {
		display: none;
	}
	.list-group .list-group-item .plate-block {
		width: 50%;
	}
}