{% load i18n %}
<nav class="navbar navbar-dark bg-primary sticky-top">
  <div class="container-fluid">
    <ul class="navbar-nav d-flex flex-row align-items-baseline gap-3 mw-70-per">
      <li class="nav-item user-select-none">
        <a class="navbar-brand" href='{% url "queue:queue_list" %}'
          >Rengas plan</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link {% if request.resolver_match.url_name == 'queue_list' %} active {% endif %}"
          aria-current="page"
          href='{% url "queue:queue_list" %}'
          >{% translate "Waiting list" %}</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link {% if request.resolver_match.url_name == 'enqueue_form' %} active {% endif %}"
          aria-current="page"
          href='{% url "queue:enqueue_form" %}'
          >{% translate "Get in line" %}</a
        >
      </li>
    </ul>

    <div class="gap-4 d-flex flex-row align-items-baseline mc mw-30-per">
      <span class="time-container d-none">
        <i class="fa-regular fa-clock text-white"></i>
        <span class="time-display text-white">HH:MM</span>
      </span>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar"
        aria-label="Toggle navigation"
      >
        <i class="fa fa-bars"></i>
      </button>
    </div>
    <div
      class="offcanvas offcanvas-end text-bg-light user-select-none"
      tabindex="-1"
      id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
        <span class="time-container m-3 text-black fw-bold d-none">
          <i class="fa-regular fa-clock"></i>
          <span class="time-display">HH:MM</span>
        </span>
        <button
          type="button"
          class="btn-close btn-close-black"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body user-select-none">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa-solid fa-language"> </i>
              &nbsp;{% translate "Languages" %}
            </a>
            {% get_current_language as LANGUAGE_CODE %}
            <!--  current language:{{ LANGUAGE_CODE }} -->
            {% get_available_languages as LANGUAGES %}
            <!-- {{ LANGUAGE_CODE|language_name_local }} -->
            {% get_language_info_list for LANGUAGES as languages %}
            <!-- {{ LANGUAGE_CODE|language_name_translated }} -->
            <ul class="dropdown-menu dropdown-menu-dark">
              <form
                id="languageChangeForm"
                method="post"
                action="{% url 'set_language' %}"
              >
                {% csrf_token %}
                <!-- -->
                {% for lang in languages %}
                <li
                  class="dropdown-item {% if LANGUAGE_CODE == lang.code %} active {% endif %}"
                  onClick="changeLanguage('{{ lang.code }}')"
                >
                  {{ lang.name_local|title }}
                </li>

                {% endfor %}
                <input
                  id="languageSelectedHidden"
                  name="language"
                  value="{{LANGUAGE_CODE}}"
                  type="hidden"
                />
              </form>
            </ul>
          </li>
          {% if user.is_staff %}
          <li class="text-center m-3">
            <i class="fa-solid fa-user-tie me-1"></i>
            <span>{% translate "Admin panel" %}</span>
          </li>
          <li
            class="d-flex gap-2 rounded {% if request.resolver_match.url_name == 'queue_management' %} bg-primary text-wrap text-white {% else %} text-black {% endif %}"
          >
            <i
              class="ms-1 fa-solid fa-screwdriver-wrench align-self-center"
            ></i>
            <a
              class="nav-link {% if request.resolver_match.url_name == 'queue_management' %} text-white {% else %} text-black {% endif %}"
              href="{% if request.resolver_match.url_name != 'queue_management' %} {% url 'queue:queue_management' %} {% else %} # {% endif %}"
              >{% translate "Queue management" %}</a
            >
          </li>
          {% endif %}
        </ul>
      </div>
      <div class="m-3 text-black text-center fw-bold">
        {% translate 'Today is' %}&nbsp;{% now "SHORT_DATE_FORMAT" %}
      </div>
    </div>
  </div>
</nav>
<script>
  "use strict";
  const changeLanguage = (code) => {
    const form = document.getElementById("languageChangeForm");
    const input = document.getElementById("languageSelectedHidden");
    input.value = code;
    form.submit();
  };
</script>
